*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    width: 100%;
    background-color: rgba(165, 54, 10, 0.082);    
}

.top-header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header{
    background-color: #a7a42c;
    padding: 20px 4%;       
}
.top-header .Logotipo img{
    max-width: 100px;
}

.top-header .btn-social button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: solid black 1px;
    cursor: pointer;
}

.button-header nav ul{
    background-color: rgba(68, 66, 85, 0.705);
    display: flex;
    align-items: center;
    justify-self: unset;

    list-style-type: none;
}
.button-header nav ul li a{
    color: #fff;
    padding: 20px 40px;
}
.centro {
    display: flex;
    background-color: #7b53da;
    padding-bottom: 50%;

} 
.center input {
    display: flexbox;
    background-color: #bdda53;
    align-items: center;
    padding: 20px 40 px;
}
.rodape {
    background-color: #030008;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 40px;
}
